:host {
  display: inline-block;
  position: relative;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #666;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
}

:host(.vertical-menu) {
  display: block;
  color: #fff;
  margin: 6px 0;
}

:host:not(.parent-is-popup) {
  width: auto;
}

:host(.vertical-menu.in-popup) {
  padding-left: 16px;
}

.menu-item {
  padding: 10px 14px;
}

.menu-item i {
  padding: 0 7px;
}

.menu-item .text {
  text-transform: uppercase;
}

.menu-item:hover {
  background-color: #a4ffa4;
  cursor: pointer;
}

.menu-item:focus {
  outline: 0;
}

.router-link-active {
  background-color: #a4ffa4;
}

.menu-item.vertical-menu {
  padding: 6px;
}

.menu-item.vertical-menu:hover {
  background-color: green;
}

.menu-item.vertical-menu:focus {
  outline: 0;
}

.router-link-active.vertical-menu {
  background-color: green;
}

.fa-angle-down, .fa-angle-left, .fa-angle-right {
  float: right;
}
