<ul class="social-icon">
  <li *ngFor="let icon of frameworkConfigService.socialIcons">
    <a [href]="icon.link">
      <img [src]="icon.imageFile" alt="icon.alt" class="icon-img">
    </a>
  </li>
</ul>

<div *ngIf="frameworkConfigService.showLanguageSelector" class="language">
  <img class="flag-image" src="assets/images/vietnam_flag.png" alt="Flag">
  <span>VN <i class="fa fa-chevron-down"></i></span>
</div>

<div *ngIf="frameworkConfigService.showUserControls">
  <span>SIGN IN</span>
</div>
