<div class="register-form">
  <img src="../../../assets/images/logo.png" />
  <h4>Register</h4>
  <form>
    <div class="form-group">
      <input class="form-control" name="username" placeholder="User Name"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="email" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="password" type="password"  placeholder="Password"/>
    </div>
    <div class="form-group">
      <input class="form-control" name="password-again" type="password"  placeholder="Password Again"/>
    </div>
    <div class="action">
      <a routerLink="/sign-in" routerLinkActive="active">Cancel</a>
      <button class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
