:host {
  display: block;
}

h3 {
  padding-top: 20px;
  margin-bottom: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}

.content {
  margin: 0 auto;
  width: 60%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table thead tr th:first-child {
  width: 50px;
}

table thead tr th:first-child(3) {
  width: 120px;
}

table thead tr th:last-child {
  width: 350px;
}

tr:nth-of-type(odd) {
  background: #eee;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
  text-align: center;
}

td {
  text-align: center;
  word-break: break-all;
}

td:nth-child(2) {
  text-align: left;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
}

table button {
  color: #fff;
  width: 80px;
  margin: 0 10px;
}
