<!-- responsive: small screen -->
<div *fwScreenBelowLarge class="title-bar-small">
  <i class="fa fa-bars"
     (click)="menuService.toggleLeftSideMenu()">
  </i>
  <div class="small-image-holder">
    <img class="small-image" src="assets/images/logo.png">
  </div>
  <i class="fa fa-ellipsis-v"></i>
</div>

<!-- responsive: large screen -->
<div *fwScreenLarge class="title-bar">
  <img src="assets/images/logo.png" alt="Green Nations Logo">

  <div class="menu-area">
    <fw-top-bar></fw-top-bar>
    <fw-menu *ngIf="!menuService.isVertical"></fw-menu>
  </div>
</div>
